.field {
  position: relative;
}

.cover {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 3;
}

.cells {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  background: #56cc5b;
}

.button {
  padding: 10px 15px;
  background: #bada55;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
}

.button:focus {
  outline: none;
}
