.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.wrapper.isGame {
  cursor: none;
}

.cursor-img {
  display: none;
  position: absolute;
  z-index: 5;
  transform: rotate(-55deg);
  transition: transform 0.05s linear;
}

.wrapper.isGame .cursor-img {
  display: block;
}
